.weather-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  width: 280px;
  height: 450px;
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 10px;

  text-align: center;

  background-color: var(--background-cards-color);
  box-shadow: 0 2px 8px var(--border-shadow-color);

  animation: fadeIn 0.5s ease-in-out;
}

.weather-card__header {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
}

.weather-card__content {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.weather-card h2 {
  font-size: 1.1em;
  color: var(--card-title);
}

.weather-icon {
  width: 80px;
  height: 80px;
}

.temperature,
.humidity {
  font-size: 1.5em;
  color: var(--card-main-text-color);
}

.fills-like {
  font-size: 0.6em;
  color: var(--text-color);
}

.wind-direction {
  color: var(--attention-color);
}

.description {
  margin: 0;
  color: var(--card-description-color);
}

.forecast {
  margin-top: 20px;
  font-size: 0.7em;
}

.remove-btn {
  cursor: pointer;

  width: 235px;
  margin-top: 15px;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;

  font-size: 0.9em;
  color: var(--button-text-color);

  background-color: var(--button-delete-color);
}

@media (hover: hover) {
  .remove-btn:hover {
    background-color: var(--button-delete-hover-color);
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
