* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-color: #000000;
  --background-color: #f0f4f8;
  --background-cards-color: #ffffff;
  --border-color: #e0e0e0;
  --border-shadow-color: rgba(0, 0, 0, 0.1);
  --input-border-color: #cccccc;
  --button-text-color: #ffffff;
  --button-color: #007bff;
  --card-main-text-color: #007bff;
  --button-hover-color: #0056b3;
  --card-title: #333333;
  --card-description-color: #666666;
  --button-delete-color: #d9534f;
  --button-delete-hover-color: #c30d06;
  --attention-color: #d9534f;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  margin: 0;

  font-family: Arial, sans-serif;

  background-color: var(--background-color);
}

#app {
  width: 90%;
  margin: 30px 0;
  padding: 30px;
  border-radius: 12px;

  text-align: center;

  background-color: var(--background-cards-color);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.input-container {
  display: flex;
  gap: 10px;

  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border-line-color);
}

input {
  flex: 1;

  box-sizing: border-box;
  padding: 12px;
  border: 1px solid var(--input-border-color);
  border-radius: 6px;

  font-size: 1em;
}

button {
  cursor: pointer;

  padding: 12px 20px;
  border: none;
  border-radius: 6px;

  font-size: 1em;
  color: var(--button-text-color);

  background-color: var(--button-color);

  transition: background-color 0.3s ease-in;
}

#weatherOutput {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.error {
  margin: 10px 0;
  font-size: 1.1em;
  color: var(--attention-color);
}

@media (hover: hover) {
  button:hover {
    background-color: var(--button-hover-color);
  }
}

@media (max-width: 380px) {
  .input-container {
    flex-direction: column;
    gap: 10px;
  }
}
