* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-color: #000000;
  --background-color: #f0f4f8;
  --background-cards-color: #ffffff;
  --border-color: #e0e0e0;
  --border-shadow-color: rgba(0, 0, 0, 0.1);
  --input-border-color: #cccccc;
  --button-text-color: #ffffff;
  --button-color: #007bff;
  --card-main-text-color: #007bff;
  --button-hover-color: #0056b3;
  --card-title: #333333;
  --card-description-color: #666666;
  --button-reset-color: #28a745;
  --button-reset-hover-color: #218838;
  --button-delete-color: #d9534f;
  --button-delete-hover-color: #c30d06;
  --background-snackbar-color: #ffffff;
  --attention-color: #d9534f;
  --success-color: #28a745;
  --notifications-layer: 1;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;

  font-family: Arial, sans-serif;

  background-color: var(--background-color);
}

#app {
  width: 90%;
  min-height: 650px;
  margin: 30px 0;
  padding: 30px;
  border-radius: 12px;

  text-align: center;

  background-color: var(--background-cards-color);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.input-container {
  display: flex;
  gap: 10px;

  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border-line-color);
}

input {
  flex: 1;

  box-sizing: border-box;
  padding: 12px;
  border: 1px solid var(--input-border-color);
  border-radius: 6px;

  font-size: 1em;
}

.cross {
  position: relative;
  display: inline;
}

.cross .close {
  position: absolute;
  right: 0;
  padding: 0 5px;
}

button {
  cursor: pointer;

  padding: 12px 20px;
  border: none;
  border-radius: 6px;

  font-size: 0.9em;
  color: var(--button-text-color);

  background-color: var(--button-color);

  transition: background-color 0.3s ease-in;
}

.reset-btn {
  background-color: var(--button-reset-color);
}

#weatherOutput {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.error {
  margin: 10px 0;
  font-size: 1.1em;
  color: var(--attention-color);
}

.no-data {
  font-size: 1.5em;
  color: var(--card-description-color);
}

.snackbar-container {
  position: fixed;
  z-index: var(--notifications-layer);
  top: 20px;
  right: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  max-width: 30%;
}

.snackbar {
  padding: 10px;
  border-radius: 5px;

  color: var(--main-black);

  opacity: 0;
  background-color: var(--background-snackbar-color);
  box-shadow: 0 2px 8px var(--border-shadow-color);

  animation: snackbarAnimation 4s ease-in-out forwards;
}

.snackbar_error {
  color: var(--attention-color);
}

.snackbar_success {
  color: var(--success-color);
}

@media (hover: hover) {
  button:hover {
    background-color: var(--button-hover-color);
  }

  .reset-btn:hover {
    background-color: var(--button-reset-hover-color);
  }
}

@media (max-width: 650px) {
  .input-container {
    flex-direction: column;
    gap: 10px;
  }
}

@keyframes snackbarAnimation {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0; /* Исчезает к концу (4s) */
  }
}
